body
	background grey
	font-family  Arial
	font-size  18px
	text-align center


header
	background #bdc1c1 
	display inline-block
	height  auto
	margin 0.3em 0.3em
	width 90%

header h1
	font-size 1.2em
	font-family "Parisienne", Arial


header #logo
	background white
	box-shadow -2px 15px 15px #917f7f,
				4px 10px 10px #9b8a8a
	display inline-block
	height 60%
	width 85%


header .logo
	height 60%
	margin 0px
	width 100%

header nav ul li
	display inline-block
	font-size 10px
	float left
	height 30%
	line-height 17px
	padding 1px 4px
	vertical-align top
	width 20%

header nav ul li a
	border-bottom 4px solid #0AF
	border-left 1px solid #0AF
	border-right 1px solid #0AF
	color  black
	display  block
	font-family Arial
	font-weight normal
	text-align center
	text-transform uppercase

header nav ul li a:hover
	background-color grey
	border-color #00f
	transition all 1s ease
	text-shadow 	1px 1px 0px rgba(230,230,230,1), 
					2px 2px 0px rgba(200,200,200,1), 
					3px 3px 0px rgba(180,180,180,1), 
					4px 4px 0px rgba(160,160,160,1)

	a:hover
		font-size 20px

#contenido
	background black
	box-shadow 	20px 10px 5px #707070,
				-13px 40px 10px #696969,
				-20px 10px 20px #E8E8E8,
				-8px -1px 10px #E3E3E3
	font-size 0.8em
	display inline-block
	width 90%

#contenido h2
	background grey
	display inline-block
	font-family "Parisienne", Arial
	font-size 1.6em
	font-weight bold
	text-align left
	width 50%

#contenido #nota
	background #858585
	color white
	display inline-block
	font-family "Henny Penny", Arial
	font-size 1.5em
	font-weight bold
	width 60%

#contenido iframe
	display inline-block
	vertical-align top
	width 45%

#contenido #mapa #uno
	display inline-block
	float left
	margin 0.3em 
	position relative

#contenido #mapa #dos
	display inline-block
	float right
	margin 0.3em
	position relative

#contenido #note
	background #ccc
	border-bottom-right-radius 20px
	border-top-left-radius 20px
	box-shadow 	-3px -5px 20px #D1D1D1,
				-2px -2px 20px #D9D9D9
	color black
	display inline-block
	font-family "Henny Penny", Arial
	font-size 1.2em
	font-weight bold
	margin 2px
	padding 0.5em 0.4em
	text-align left
	width 70%

#contenido #enlaces
	background #039595
	color white
	display inline-block
	margin 10px 
	padding 0.3em 0.5em
	text-align center
	vertical-align top
	width 90%

#contenido  #contacto
	font-family "Parisienne", Arial
	font-size 1.0em
	font-weight bold
	text-align left

#contenido #contacto h4
	background grey
	width 40%

#contenido #contacto a
	color black
	font-size 0.8em

#contenido #contacto a:hover
	color #FF8B00
	font-size 1.0em

#contenido .redes
	border-top-right-radius 20px
	display inline-block
	float right
	margin 0px 
	padding 0.3em 0.5em
	padding-top -10em
	vertical-align top
	width 30%

#contenido .redes p
	font-size 1.0em
	font-family "Parisienne", Arial
	font-weight bold

#contenido .facebook
	display inline-block
	margin 0px
	width 15%

#contenido .twitter
	display inline-block
	margin 0px
	width 15%

#contenido .youtube
	display inline-block
	margin 0px
	width 15%

#contenido .blog
	display inline-block
	margin 0px
	width 15%


@import "responsive.styl"


