body
	background grey
	font-family  Arial
	font-size  18px
	text-align center


header
	background #bdc1c1 
	display inline-block
	height  auto
	margin 0.3em 0.3em
	width 90%

header h1
	font-size 1.2em
	font-family "Parisienne", Arial


header #logo
	background white
	box-shadow -2px 15px 15px #917f7f,
				4px 10px 10px #9b8a8a
	display inline-block
	height 70%
	width 85%


header .logo
	height 60%
	margin 0px
	width 100%

header nav ul li
	display inline-block
	font-size 10px
	float left
	height 30%
	line-height 17px
	padding 1px 4px
	vertical-align top
	width 20%

header nav ul li a
	border-bottom 4px solid #0AF
	border-left 1px solid #0AF
	border-right 1px solid #0AF
	color  black
	display  block
	font-family Arial
	font-weight normal
	text-align center
	text-transform uppercase

header nav ul li a:hover
	background-color grey
	border-color #00f
	transition all 1s ease
	text-shadow 	1px 1px 0px rgba(230,230,230,1), 
					2px 2px 0px rgba(200,200,200,1), 
					3px 3px 0px rgba(180,180,180,1), 
					4px 4px 0px rgba(160,160,160,1)

	a:hover
		font-size 20px

#contenido
	background white
	box-shadow 	10px 20px 20px 24px #474747,
				-10px 26px 23px 20px #303030,
				10px 21px 20px 15px #F0F8FF

	display inline-block
	width 87%

#contenido #nota
	background #ccc
	display inline-block
	font-family "Acme", Arial
	font-size 0.6em
	font-weight bold
	margin 0.2em 0.4em
	text-align center
	width 80%

#contenido h2
	font-family "Parisienne", Arial
	font-size 1.3em
	font-weight bold

#contenido h3
	font-family "Parisienne", Arial
	font-size 1.3em
	font-weight bold

#contenido #item
	background #aac
	display inline-block
	float right
	margin 0.3em
	position relative
	width 54%

#contenido #item p 
	background #ccd
	display inline-block
	font-family "Parisienne", Arial
	font-size 1.1em
	font-weight bold
	text-align left
	width 82%

#contenido #imagenes
	display inline-block
	width 60%

#contenido #imagenes .imagen
	margin 0px
	width 35%

#contenido .extra
	box-shadow 	5px 2px 13px #696969,
				15px 3px 23px #778899
	color red
	display inline-block
	font-family Arial
	font-size 0.8em
	font-weight normal
	float left
	margin 0.4em
	position relative
	width 40%

#contenido .extra h4
	background  grey
	color black
	font-family "Parisienne", Arial
	font-size 1.6em
	font-weight bold
	text-align left
	width 90%

#contenido #enlaces
	background #039595
	color white
	display inline-block
	margin 10px 
	padding 0.3em 0.5em
	text-align center
	vertical-align top
	width 90%

#contenido  #contacto
	font-family "Parisienne", Arial
	font-size 1.0em
	font-weight bold
	text-align left

#contenido #contacto h4
	background grey
	width 40%

#contenido #contacto a
	color black
	font-size 0.8em

#contenido #contacto a:hover
	color #FF8B00
	font-size 1.0em

#contenido .redes
	border-top-right-radius 20px
	display inline-block
	float right
	margin 0px 
	padding 0.3em 0.5em
	padding-top -10em
	vertical-align top
	width 30%

#contenido .redes p
	font-size 1.0em
	font-family "Parisienne", Arial
	font-weight bold

#contenido .facebook
	display inline-block
	margin 0px
	width 15%

#contenido .twitter
	display inline-block
	margin 0px
	width 15%

#contenido .youtube
	display inline-block
	margin 0px
	width 15%

#contenido .blog
	display inline-block
	margin 0px
	width 15%


@import "responsive.styl"