@media screen and (min-width:768px)
		header
			height auto

	#contenido
		border-top-right-radius 10px
		border-top-left-radius 10px
		#nota
			color #000000
			font-size 1em
			height auto
			width 90%

		.imagen
			border-top-left-radius 13px
			border-top-right-radius 13px
			border-bottom-left-radius 13px
			border-bottom-right-radius 13px

		.extra h4
			text-align center

	#enlaces
		box-shadow 	4px 20px 20px #1C1C1C,
					-3px 20px 15px #707070
		border-bottom-left-radius 20px
		border-top-right-radius 20px
		display inline-block
		vertical-align top

@media screen and (min-width:1280px)
	header
		font-size 1.3em
		height auto

		#logo
			height auto

			.logo
				height 150px
	#contenido
		font-size 1.3em
		margin 35px
		padding 0px 0px

		#item
			border 3px solid black
			margin 20px

		#imagenes
			-webkit-transition all 1s ease 1s
			-moz-transition all 1s ease 1s
			-o-transition all 1s ease 1s
			transition all 1s ease 1s

			.imagen:hover
				background #ccc
				box-shadow 8px 10px 13px rgba(0, 0, 0, .7)
				display inline-block
				margin 0.5em 0.4
				width 40%

			.extra
				border-top-right-radius 15px
				margin 0px
				padding 0px 10px

		#enlaces
			box-shadow 	4px 20px 20px #1C1C1C,
						-3px 20px 15px #707070,
						-1px -2px 10px #E5E5E5
			border-bottom-left-radius 20px
			border-top-right-radius 20px
			display inline-block
			vertical-align top

			.redes
				border-bottom-left-radius 20px
				border-top-right-radius 20px
				border-top-left-radius 20px
				border-bottom-right-radius 20px
				display inline-block
				margin 0px 
				vertical-align top
