body{background:#808080;font-family:Arial;font-size:18px;text-align:center}
header{background:#bdc1c1;display:inline-block;height:auto;margin:.3em .3em;width:90%}
header h1{font-size:1.2em;font-family:"Parisienne",Arial}
header #logo{background:#fff;box-shadow:-2px 15px 15px #917f7f,4px 10px 10px #9b8a8a;height:60%;display:inline-block;width:85%}
header .logo{height:60%;margin:0;width:100%}
header nav ul li{display:inline-block;font-size:10px;float:left;height:30%;line-height:17px;padding:1px 4px;vertical-align:top;width:20%}
header nav ul li a{border-bottom:4px solid #0af;border-left:1px solid #0af;border-right:1px solid #0af;color:#000;display:block;font-family:Arial;font-weight:normal;text-align:center;text-transform:uppercase}
header nav ul li a:hover{background-color:#808080;border-color:#00f;transition:all 1s ease;text-shadow:1px 1px 0 #e6e6e6,2px 2px 0 #c8c8c8,3px 3px 0 #b4b4b4,4px 4px 0 #a0a0a0;}
header nav ul li a:hover a:hover{font-size:20px}
#contenido{background:#4a4a4a;color:#fff;box-shadow:7px 8px 10px 2px #bebebe,-5px 10px 20px 13px #696969,-2px 14px 20px 20px #1a1a1a;font-weight:bold;display:inline-block;width:85%}
#contenido #nota{display:inline-block;font-family:"Spirax",Arial;font-size:1em;font-weight:bold}
#contenido h2{color:#ccc;font-size:1.5em;font-family:"Ceviche One",Arial;font-weight:normal}
#contenido a{color:#da0;font-size:1.2em;font-weight:bold}
#contenido a:hover{color:#ed364b;font-size:1.2em}
#contenido #formulario{display:inline-block;margin:0;padding:10px 0}
#contenido .formulario{margin:0;padding:20px 2%}
#contenido .extra{box-shadow:5px 2px 13px #696969,15px 3px 23px #789;color:#f00;display:inline-block;font-family:Arial;font-size:.8em;font-weight:normal;float:left;margin:.4em;position:relative;width:40%}
#contenido .extra h4{background:#808080;color:#000;font-family:"Parisienne",Arial;font-size:1.6em;font-weight:bold;text-align:left;width:90%}
#contenido #enlaces{background:#039595;color:#fff;display:inline-block;margin:10px;padding:.3em .5em;text-align:center;vertical-align:top;width:90%}
#contenido #contacto{font-family:"Parisienne",Arial;font-size:1em;font-weight:bold;text-align:left}
#contenido #contacto h4{background:#808080;width:40%}
#contenido #contacto a{color:#000;font-size:.8em}
#contenido #contacto a:hover{color:#ff8b00;font-size:1em}
#contenido .redes{border-top-right-radius:20px;display:inline-block;float:right;margin:0;padding:.3em .5em;padding-top:-10em;vertical-align:top;width:30%}
#contenido .redes p{font-size:1em;font-family:"Parisienne",Arial;font-weight:bold}
#contenido .facebook{display:inline-block;margin:0;width:15%}
#contenido .twitter{display:inline-block;margin:0;width:15%}
#contenido .youtube{display:inline-block;margin:0;width:15%}
#contenido .blog{display:inline-block;margin:0;width:15%}
@media screen and (min-width:768px){#contenido #nota{font-size:1em;height:auto;width:100%}
#contenido #formulario{box-shadow:17px 150px 50px #454545,13px 100px 40px #d4d4d4;width:90%}
#contenido .formulario{display:inline-block;height:auto;width:100%}
#contenido #enlaces{border-top-right-radius:12px;border-bottom-left-radius:12px;box-shadow:2px 2px 20px #604800}
}