@media screen and (min-width:768px)
	#contenido
		#nota
			font-size 1em
			height auto
			width 100%

		#formulario
			box-shadow 	17px 150px 50px #454545,
						13px 100px 40px #D4D4D4
			width 90%

		.formulario
			display inline-block
			height auto
			width 100%

		#enlaces
			border-top-right-radius 12px
			border-bottom-left-radius 12px
			box-shadow 	2px 2px 20px #604800


