body
	background grey
	font-family  Arial
	font-size  18px
	text-align center


header
	background #bdc1c1 
	display inline-block
	height  auto
	margin 0.3em 0.3em
	width 90%

header h1
	font-size 1.2em
	font-family "Parisienne", Arial


header #logo
	background white
	box-shadow -2px 15px 15px #917f7f,
				4px 10px 10px #9b8a8a
	display inline-block
	height 60%
	width 85%


header .logo
	height 60%
	margin 0px
	width 100%

header nav ul li
	display inline-block
	font-size 10px
	float left
	height 30%
	line-height 17px
	padding 1px 4px
	vertical-align top
	width 20%

header nav ul li a
	border-bottom 4px solid #0AF
	border-left 1px solid #0AF
	border-right 1px solid #0AF
	color  black
	display  block
	font-family Arial
	font-weight normal
	text-align center
	text-transform uppercase

header nav ul li a:hover
	background-color grey
	border-color #00f
	transition all 1s ease
	text-shadow 	1px 1px 0px rgba(230,230,230,1), 
					2px 2px 0px rgba(200,200,200,1), 
					3px 3px 0px rgba(180,180,180,1), 
					4px 4px 0px rgba(160,160,160,1)

	a:hover
		font-size 20px

#contenedor
	background #fcfcf7
	display inline-block
	font-size 1.3em
	width 94%

#contenedor h2
	background #dcdcd5
	font-size 1.0em
	font-family Arial
	font-weight normal
	text-align left
	width 69%


#contenedor #nota
	background #cfcfa7
	box-shadow 	4px 2px 9px #D6D6D6,
				-4px -3px 3px #EBEBEB
	display inline-block
	font-size 0.8em
	font-family Arial
	font-weight bold
	margin 9px
	padding 0px 1.0em
	width 70%

#contenedor  #imagenes
	background #dfdfd7
	display inline-block
	margin 0px
	padding 0.4px 0.6em
	vertical-align top
	width 90%

	-webkit-transition all 1s ease 1s
	-moz-transition all 1s ease 1s
	-o-transition all 1s ease 1s
	transition all 1s ease 1s


#contenedor .derecha
	background #edede6
	float left
	margin 0.2em
	padding 0.3em 0.3em
	vertical-align top
	width 45%

#contenedor .izquierda
	background #edede6
	float right
	margin 0.2em
	padding 0.3em 0.3em
	vertical-align top
	width 45%

#contenedor .imagen
	border-bottom-left-radius 10px
	border-top-right-radius 10px
	margin 2px
	padding 0.2em 0.2em
	width 40%

#contenedor .imagen:hover
	border-top-left-radius 20px
	border-bottom-right-radius 20px
	border-bottom-left-radius 20px
	border-bottom-right-radius 20px
	box-shadow -2px 9px 20px #4A4A4A
	margin 0.5em 0.4em
	width 90% 
	transition all 5s ease 2s

#contenedor #enlaces
	background #039595
	color white
	display inline-block
	margin 10px 
	padding 0.3em 0.5em
	text-align center
	vertical-align top
	width 90%

#contenedor  #contacto
	font-family "Parisienne", Arial
	font-size 1.0em
	font-weight bold
	text-align left

#contenedor #contacto h4
	background grey
	width 40%

#contenedor #contacto a
	color black
	font-size 0.8em

#contenedor #contacto a:hover
	color #FF8B00
	font-size 1.0em

#contenedor .redes
	border-top-right-radius 20px
	display inline-block
	float right
	margin 0px 
	padding 0.3em 0.5em
	padding-top -10em
	vertical-align top
	width 30%

#contenedor .redes p
	font-size 1.0em
	font-family "Parisienne", Arial
	font-weight bold

#contenedor .facebook
	display inline-block
	margin 0px
	width 15%

#contenedor .twitter
	display inline-block
	margin 0px
	width 15%

#contenedor .youtube
	display inline-block
	margin 0px
	width 15%

#contenedor .blog
	display inline-block
	margin 0px
	width 15%

@import "responsive.styl"

