@media screen and (min-width:768px)
	header
		font-size 1.0em
		margin 0px
		padding 0px

		h1
			font-family "Euphoria Script", Arial
			font-size 1.2em
			margin 0px
			padding 0.3em 0.4em

			.logo
				box-shadow 	-4px 5px 20px #1F1F1F,
							-2px 2px 20px #858585

	#contenedor
		#nota
			border-top-left-radius 20px
			border-bottom-right-radius 20px
			font-family "Mystery Quest", Arial
			font-size 1.0em
			width 60%

			h2
				font-family "Diplomata SC", Arial
				font-weight bold

		#imagenes
			background #707070

		#enlaces
			border-top-left-radius 15px 
			border-bottom-right-radius 15px
			box-shadow 	7px 5px 5px #808080,
						-8px 8px 15px #666666